#edit-photo-form {
    height: 600px;
    margin-top: 5px;
    align-self: center;
    justify-self: center;
}

#edit-photo-image {
    border: 1px solid black;
    border-radius: 4px;
}

#edit-album-id {
    padding: 17px 16px;
    border: 1px black solid;
    font-size: 13.33px;
    font-weight: 400;
    width: 304px;
    padding: 17px 16px;
}

#edit-photo-list-of-albums {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
