#whole-landing-page {
    height: 100vh;
    background-size: cover;
}

#landing-page-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

#find-your-inspiration {
    font-size: 56px;
    line-height: 56px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
    color: #fff;
}

#join-myphotos {
    margin-bottom: 50px;
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

#start-for-free {
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    font-weight: 800;
    min-width: 200px;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 20px;
    vertical-align: top;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: black;
}
