/* TODO Add site wide styles */
* {
    font-family: "Soleil", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

body {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}

ul {
    list-style-type: none;
}

textarea {
    resize: none;
}

.nav-items > a {
    color: white;
}

.signup-login-link > a {
    color: #006dac;
}

a {
    color: white;
    text-decoration: none;
}

/* a:visited {
    color: inherit;
} */

.errors {
    color: #cc4539;
}

.signup-login-fields {
    width: 270px;
    height: 20px;
    padding: 17px 16px;
    border-radius: 4px;
    border-width: 1px;
}

/* .signup-login-fields::selection {
    background-color: #b3d4fc;
} */

.signup-login-button {
    display: flex;
    width: 256px;
    height: 24px;
    background-color: #128fdc;
    cursor: pointer;
    font-weight: 600;
    color: white;
    align-self: center;
    align-items: center;
    justify-content: center;
    /* justify-self: center; */
    /* text-align: center; */
    margin-top: 32px;
    padding: 8px 24px;
    text-align: center;
    border-radius: 4px;
}

.signup-login-text {
    text-align: center;
    border-top: 1px solid lightgray;
    padding-top: 20px;
    margin-top: 20px;
}

.signup-login-link {
    color: #006dac;
}

.individual-photo {
    background-size: cover;
    height: 344px;
    width: 344px;
    /* padding: 20px; */
    color: white;
    margin: 2px;
    object-fit:cover;
    border: 1px solid black;
    border-radius: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

.form-title {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: "Proxima Nova", Helvetica, sans-serif
    Proxima Nova,Helvetica,sans-serif;
    margin-bottom: 20px;
}

.form-label-input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-heading {
    text-align:center;
}

/**************** Forms ******************/

.whole-signup-login-page {
    height: 100vh;
    background-size: cover;
}
.signup-login-page {
    /* padding-top: 50px; */
    display: flex;
    /* height: 90vh; */
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    width: 100vw;
    height: 93%;
    /* height: 100vh - 50px; */
    justify-content: center;
    align-items: center;
}


.signup-login-form {
    justify-self: center;
    padding: 0px 15px;
    /* margin-right: 50px; */
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.forms {
    width: 304px;
    padding: 24px;
    background-color: white;
}

.cursor-pointer {
    cursor: pointer;
}
