/* TODO Add site wide styles */
* {
    font-family: "Soleil", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.errors {
    color: #cc4539;
}
