.fa-exclamation-triangle {
    color: orange;
    font-size: 30px;
}

#page-not-found {
    width: 800px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

#page-not-found-heading {
    padding-top: 25px;
}

#page-not-found-bottom {
    margin: 0 120px;
    padding-bottom: 50px;
}

#icon-and-text {
    display: flex;
    margin: 14px 0 11px;
}
