#whole-photo-page {
    height: 100vh;
}

#photo-background {
    background-color: rgb(33,33,36);
}

#photo-background {
    position: relative;
    height: 80%;
    min-width: fit-content;
}
#photo-page-go-back {
    width: fit-content;
    color: white;
    margin-left: 125px;
}

#photo-page-image {
    max-width: 90%;
    height: 90%;
    object-fit: cover;
    /* position:absolute; */
}
#photo-page-edit-pen {
    position: absolute;
    right: 6%;
    bottom: 3%;
    color: white;
}

#photo-page-trash {
    position: absolute;
    right: 3%;
    bottom: 3%;
    color: white;
}

#photo-image-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    min-width: fit-content;
}

.trash-and-pen-size {
    font-size: 20px;
}

#photo-page-footer {
    text-align: center;
}

#go-left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 90%;
}

#go-left-container:hover {
    color: white;
}

#go-right-container {
    display: flex;
    flex-direction: row;
    justify-content:right;
    align-items: center;
    width: 100%;
    height: 90%;
}

#go-right-container:hover {
    color: white;
}

#chevron-left {
    font-size: 52px;
    color: gray;
    margin-left: 25px;
}

#chevron-right {
    font-size: 52px;
    color: gray;
    margin-right: 25px;
    justify-self: right;
}
