#whole-photo-page {
    height: 100vh;
}

#photo-background {
    background-color: black;
}

#photo-background {
    position: relative;
    height: 80%;
}
#photo-page-go-back {
    width: fit-content;
    color: white;
}

#photo-page-image {
    max-width: 90%;
    height: 90%;
    object-fit: cover;
    position:absolute;
}
#photo-page-edit-pen {
    position: absolute;
    right: 6%;
    bottom: 3%;
    color: white;
}

#photo-page-trash {
    position: absolute;
    right: 3%;
    bottom: 3%;
    color: white;
}

#photo-image-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.trash-and-pen-size {
    font-size: 20px;
}

#photo-page-footer {
    text-align: center;
}
