#whole-photo-page {
    height: 100vh;
}

#photo-background {
    background-color: rgb(33,33,36);
}

#photo-background {
    position: relative;
    height: 80%;
    min-width: fit-content;
}
#photo-page-go-back {
    width: fit-content;
    color: white;
    margin-left: 125px;
}

#photo-page-image {
    max-width: 90%;
    height: 90%;
    object-fit: cover;
    position:absolute;
}
#photo-page-edit-pen {
    position: absolute;
    right: 6%;
    bottom: 3%;
    color: white;
}

#photo-page-trash {
    position: absolute;
    right: 3%;
    bottom: 3%;
    color: white;
}

#photo-image-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.trash-and-pen-size {
    font-size: 20px;
}

#photo-page-footer {
    text-align: center;
}

#go-left {
    height: 100px;
    width: 100px;
    background-color: red;
    /* position: absolute; */
    /* left: 0px; */
    /* top: 200px; */
}

#go-right {
    /* position: absolute; */
    /* right: 0px; */
    /* top: 200px; */
    height: 100px;
    width: 100px;
    background-color: yellow;
}
