/* .check-mark {
    color: green;
}

#check-mark:hover {
    color: white;
} */

#add_to_albums_modal {
    width: 332px;
    height: 343px;
}

#add_to_albums_modal_header {
    clear: both;
    overflow: hidden;
    padding: 10px;
    background: #f7f7f7;
    zoom: 1;
    min-height: 18px;
    text-align: left;
    font-size: 12px;
}

#add_to_albums_modal_header_h3 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 16px;
    font-weight: normal;
    height: 18px;
    color: #000;
}

#add_to_albums_modal_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
}

#add_to_albums_modal_done_button {
    align-self: center;
    background: #0063dc;
    border-radius: 4px;
    border: 0;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    padding: 5px 9px;
}

#add_to_albums_modal_done_button:hover {
    background: #0054bd;
}

#add_to_albums_list {
    height: 224px;
    /* margin-left: -4px; */
    overflow: auto;
    padding: 5px 10px 10px;
}

.add_to_albums_list_elements {
    min-height: 26px;
    overflow: hidden;
    margin: 0;
    /* padding: 3px 0 3px 34px; */
    cursor: pointer;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add_to_albums_list_elements:hover {
    background-color: #0063dc;
    color: white;
}
