#nav {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    height: 100px;
    align-items: center;
    /* justify-content: space-around; */
    width: auto;
}

#nav a:hover{
    color: grey;
}

#flickr-dots {
    height: 12px;
    justify-self: center;
}

#logo {
    display: flex;
}

.margin-right {
    margin: 0 25px;
    /* width: 150px; */
}
