#navbar {
    display: flex;
    flex-direction: row;
    background-color: rgb(22,22,24);
    color: white;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

#navbar a:hover{
    color: gray;
}

#navbar-left {
    display: flex;
    flex-direction: row;
}

#navbar-center {
    display: flex;
    /* justify-self: center;
    align-self: center; */
}

#navbar-right {
    display: flex;
    flex-direction: row;
}

#flickr-dots {
    height: 12px;
    justify-self: center;
}

#logo {
    display: flex;
}

.nav-items {
    margin: 0 25px;
    /* width: 150px; */
}

#upload-button {
    font-size: 25px;
}

#about-links {
    display: flex;
    flex-direction: row;
}
