#navbar {
    display: flex;
    flex-direction: row;
    background-color: rgb(22,22,24);
    color: white;
    height: 50px;
    align-items: center;
    width: auto;
    min-width: fit-content;
}

#navbar a:hover{
    color: gray;
}

#navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 45%;
    min-width: fit-content;
}

#navbar-center {
    display: flex;
    justify-content: left;
    /* align-items: center; */
    /* justify-self: center; */
    width: 20%;
    min-width: fit-content;
}

#navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 35%;
    min-width: fit-content;
    justify-content: right;
}

#flickr-dots {
    height: 10px;
    justify-self: center;
    margin-right: 5px;
}

#logo {
    display: flex;
}

.nav-items {
    margin: 0 25px;
}

#upload-button {
    font-size: 25px;
}

#about-links {
    display: flex;
    flex-direction: row;
}

#dropdown {
    width: 200px;
    height: 200px;
    background-color: black;
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 1;
}

#srki {
    display: flex;
    flex-direction: row;
    align-items: center;
}
